form {
  display: flex;
  justify-content:space-evenly;

  /* align-items: flex-end; */

 /* margin: auto;
 width: 95vw; */
}

.card {
  max-width: 45rem;
  margin: auto;
  background-color: #eee;
  border-radius: 2rem;
  transition: 0.25s;
  cursor: pointer;
}
.card-header {
  border-radius: 5rem;
  font-weight: 700;
}
.buttons {
  margin-bottom: 1rem;
}

.submit {
  margin-left: 1rem;
  margin-right: 2rem;
  border-radius: 3rem;
  background-color: #333;
  color: #eee;
}

.header-note {
  font-weight: 100;
}

body {
  background-color: rgb(198, 210, 218);
  /* width: 50rem; */
  margin: auto;
}
.main-input {
  border-radius: 5rem;
  /* margin-left: -4rem; */
  width: 40rem;
}

.btn-warning {
  border-radius: 1rem;
}

.card:hover {
  background-color: #fff;
  box-shadow: 0 0 20px 1px #555;
}

.btn-back {
  background-color: #eee;
}
.hide {
  margin-right: 1rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin-left: 2rem;
  border-radius: 3rem;
  background-color: #333;
  color: #eee;
  padding: 0.5rem 1.5rem;
}

input::placeholder {
  text-align: center;
}
.card-text {
  font-weight: 300;
}

.modal-box {
  background-color: rgb(198, 210, 218);
}

textarea {
  background-color: #eee;
}

.navbar {
  padding: 1rem;
  background-color: rgb(134, 51, 163);
  display: flex;

  padding-left: 5rem;
  padding-right: 5rem;
  justify-content: space-evenly;
}

a {
  text-decoration: none;

  font-size: 0.5rem;

  font-weight: 200;
  color: #eee;
}

@media screen and (max-width: 450px) {
  body {
    width: 25rem;
    margin: auto;
  }
  .card {
    max-width: 20rem;
    margin: auto;
    background-color: #eee;
    border-radius: 2rem;
    transition: 0.25s;
    cursor: pointer;
  }
  .form {
    width: 1rem;
    margin: auto;
    margin-top: 2rem;
  }
}

/* 
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: dodgerblue;
}
section {
  margin: auto;
width: 100rem;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
} */
